<a href="https://colab.research.google.com/github/cpantoja20/DataScience/blob/main/Te_damos_la_bienvenida_a_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
for i in range (1, 11):
  print(end="\n")
  print("Tabla del ", i)

  for j in range (1, 11):
    print( i , " x ", j, " = ", i*j, end="\n")

Tabla del  1
1  x  1  =  1
1  x  2  =  2
1  x  3  =  3
1  x  4  =  4
1  x  5  =  5
1  x  6  =  6
1  x  7  =  7
1  x  8  =  8
1  x  9  =  9
1  x  10  =  10

Tabla del  2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20

Tabla del  3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30

Tabla del  4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40

Tabla del  5
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50

Tabla del  6
6  x  1  =  6
6  x  2  =  12
6  x  3  =  18
6  x  4  =  24
6  x  5  =  30
6  x  6  =  36
6  x  7  =  42
6  x  8  =  48
6  x  9  =  54
6  x  10  =  60

Tabla del  7
7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
7  x  10  =  70

Tabla del  8
8  x  1  =  8
8  x  2  =  16
8  x  3  =  24
8  x  4  =  32
8  x  5  =  40
8  x  6  =  48
8  x  7  =  56
8  x  8  =  64
8  x  9  =  72
8  x  10  =  80

Tabla del  9
9  x  1  =  9
9  x  2  =  18
9  x  3  =  27
9  x  4  =  36
9  x  5  =  45
9  x  6  =  54
9  x  7  =  63
9  x  8  =  72
9  x  9  =  81
9  x  10  =  90

Tabla del  10
10  x  1  =  10
10  x  2  =  20
10  x  3  =  30
10  x  4  =  40
10  x  5  =  50
10  x  6  =  60
10  x  7  =  70
10  x  8  =  80
10  x  9  =  90
10  x  10  =  100

In [11]:
cantidad = float(input("¿Cual es la cantidad a invertir? "))
interes = float(input("Digite el interes anual "))
anios = int(input("Años a calcular "))

for i in range(anios):
  cantidad = cantidad * (1+interes/100)
  print("Çapital tras " +str(i+1) + " años: " + str(cantidad))

¿Cual es la cantidad a invertir? 200000
Digite el interes anual 19
Años a calcular 5
Çapital tras 1 años: 238000.0
Çapital tras 2 años: 283220.0
Çapital tras 3 años: 337031.8
Çapital tras 4 años: 401067.84199999995
Çapital tras 5 años: 477270.7319799999

In [14]:
contrasenia = "contraseña"
entrada_usuario = " "
while entrada_usuario != contrasenia:
  entrada_usuario = input("Introduce la contraseña: ")
  if entrada_usuario != contrasenia:
    print("Contraseña equivocada")
print("Contrasena Correcta")

Introduce la contraseña: cyndy
Contraseña equivocada
Introduce la contraseña: contraseña
Contrasena Correcta

In [18]:
 x = int(0)
 y = int(1)

 for i in range(50):
   c = y+x
   x = y
   y = c
   print(x, end = "\n")

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025

In [42]:
i=1
while i<10:                         
    j=1
    while j<=i:                    
        print("* ",end="")
        j=j+1
       
    print()                  
    i=i+1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [44]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive